mixin room( roommodifier, name, namemodifier, desc, y )
	if roommodifier
		.room( class = roommodifier, data-y = y )
			if namemodifier
				.room__name( class= namemodifier )= name
				.room__desc= desc
			else
				.room__name= name
				.room__desc= desc
	else
		.room( data-y = y )
			if namemodifier
				.room__name( class= namemodifier )= name
				.room__desc= desc
			else
				.room__name= name
				.room__desc= desc