mixin room( roommodifier, name, namemodifier, desc )
	if roommodifier
		.room( class = roommodifier )
			if namemodifier
				.room__name( class= namemodifier )= name
				.room__desc= desc
			else
				.room__name= name
				.room__desc= desc
	else
		.room
			if namemodifier
				.room__name( class= namemodifier )= name
				.room__desc= desc
			else
				.room__name= name
				.room__desc= desc